.menu-card {
    border-left: 4px solid $primary;

    &:hover {
        background-color: #f8f9fa;
        transform: scale(1.01);
        transition: all 0.2s ease;
    }
}

// Pour afficher les bouton d'éditer et supprimer
.food-list, .menu-card {
    position: relative;

    .action-buttons {
        width: 100%;
        padding: 5px 0px;
        display: flex;
        gap: 5px;
        justify-content: flex-end;
    }
}

// Pour afficher les tooltips
.add-foodOrMenu-btn {

    .tooltip-menu {
        padding: 3px 8px;
        background-color: $bg-dark;
        border-radius: 8px;
        color: white;
        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;

        &::after {
            content: "";
            position: absolute;
            border-width: 5px;
            border-radius: 50%;
            border-style: solid;
            top: 50%;
            right: 0px;
            transform: translate(2%, -50%);
            margin-right: -3%;
            border-color: $bg-dark;
        }
    }

    &:hover .tooltip-menu {
        visibility: visible;
        opacity: 1;
    }
}