$primary : #906427;
$secondary : #B6AC97;
$dark : #392C1E;
$bg-dark : #292222;
$danger : rgb(216 51 67 / 85%);
$font-family-sans-serif : "Montserrat", sans-serif !default; // headline et subtitle text
$font-family-serif : "Hind Madurai", serif; // content Text








//Importation de bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 


